/* ----------- def. globais ----------- */

* {
    margin: 0;
    padding: 0;
}

*, html * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    width:100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* --------base flexbox ---------- */
.fb-container {
    /* estrutura */
    width: 100%;
    display: -webkit-flex;
    display: flex;

    /* DEBUG: show containers*/
    border: solid 1px red;
}
.fb-lin {
    -webkit-flex-direction: row;
    flex-direction: row;
}
.fb-col {
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* ---------- trabalho -----------------*/

.header {
    min-height: 3em;
    flex: none;
}
.content {
    flex: 1;
}

.sidebar {
    flex: 1;
}

#canvas {
    flex: 4;
    border: solid 1px green;

    /* Hides overflowing canvas */
    overflow: hidden;
}

#myCanvas {
    border: solid 2px blue;
}

.demo {
    padding: 20px;
}
